 /* Create an empty text document in the correct folder within
  the given project code and name it style.css. Within the <head> tag of your HTML
 file, add the code to reference this newly created CSS file. */

 @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');  /* laddas ned frånhttps://fonts.google.com/*/

/*fråga om ex Syne Mono*/


 body {
   margin-top: 0; /*padding på toppen, ovanför BONANZA*/
   font-size: 1.5em;
   color: rgb(173, 54,216); /* (1) hex triplets, (2) RGB, and (3) predefined colour names. använd ex https://www.rapidtables.com/web/color/RGB_Color.html*/
   font-style: oblique;
     font-family:    Itim,"Times New Roman",arial;
    text-align: center; /* centrerar*/
  }



header img{
  width: 100%;
  height: auto;
  opacity: 0.7;
  padding: 0;
}

header{
  height: 12em;
  overflow:hidden;

}
.headertext{
  color: black;
  position: absolute;
  top:4em;
  left:40em;
}




.burger1{
  border: 1px dashed white; /* gör konturerna sträckade*/
  margin-top: 0; /* vita under bonanza*/
  background-color: black
}

.oinfo1{
  margin-top: 0; /* vita ovanför costumer info*/
  background-color: white;
  border: 1px dashed black;
}



button:hover{
  color: pink;
  background-color: black;
}


/*--  skapar ny grid (rosa) -->*/


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: black;
  padding: 1em;


}
.grid-container h1{
  font-size: 2em;
  color: rgb(173, 54,216);

}
#imgid{
  padding-left: 20%;
  width: 50%;
}



.grid-item {
  background-color: black;
  border: 1px solid black;
  padding: 1em;
  font-size: 1em;
  text-align: center;

}

#allergies{ 
  font-weight: bold;
}





@media screen and (max-width: 800px){ /*any rules pertaining to the h1 selector inside the at-rule
   will trigger when the width of the user's screen is less than 800px.*/
  h1{
    font-size: 6vw;
  }

}




/*
.table{
  display:grid;
  grid-gap: 1em;
  grid-template-columns: 17em 17em 17em;
  background-color: black; /*baggrundsfärg
  margin-left: 26em;


}
.table h1{
  font-size: 1em; /*30px
  color: rgb(173, 54,216);
}
.box{
  background-color: black; /*färgen på varje box
  border-radius: 1em; /*GÖR INGET?
  padding: 1em; /*30px
  font-size: 1.5em; /*150%
}
.a{
  grid-column: 1;
  grid-row: 1 / span 1;
}
.b{
  grid-column: 2;
  grid-row: 1 / span 1;
}
.c{
  grid-column: 3;
  grid-row: 1 / span 1;
}

.ingredients{
  color: white
}
#allergies{ /*testar id
  font-weight: bold;
}
*/
